* {
    font-family: 'Monserat', sans-serif;
    font-weight: bold;
}

.undisplayed {
    display: none;
}

.vert {
    color: #37c724;
}

.rouge {
    color: red;
}

header {
    padding: 1em;
}

header h1 {
    text-align: center;
    font-size: 4vw;
    color: blue;
}

header img {
    width: 100%;
    height: auto;
}

.aquaXjump {
    width: 50%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;
    position: relative;
}

main>h2,
main>h3 {
    text-align: center;
    color: blue;
}

main .bienvenue {
    display: flex;
    justify-content: space-evenly;
}

main .bienvenue span {
    font-size: 1.8vw;
}

input[type='text'] {
    width: 50%;
    height: 2.5em;
    background-color: lightgray;
    border: none;
}

.ca {
    color: blue;
}

.es {
    color: orange;
}

.fr {
    color: black;
}

.en {
    color: green;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message>div {
    font-size: 1.6vw;
    margin-bottom: 1em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.langues {
    display: flex;
    justify-content: space-evenly;
}

.langues>a:hover {
    cursor: pointer;
}

.drapeau {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    padding: 1em;
}

.drapeau>img {
    height: auto;
    width: 100%;
}

main>#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>#sexeAge {
    display: flex;
    justify-content: center;
}

#sexeAge>div:first-child {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ageMini {
    font-size: 1em;
    color: red;
}

#maleSelect img,
#femaleSelect img,
#ageSelect img {
    width: 50px;
    height: auto;
}

#male_Unchecked,
#male_Checked,
#female_Unchecked,
#female_Checked {
    cursor: pointer;
}

#ageSelect {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ageSelect>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ageSelect>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#ageSelect>span>span {
    color: blue;
    font-size: 1.3em;
}

#ageSelect #age {
    font-size: 2em;
    text-align: center;
    width: 75px;
    height: 70px;
    margin-bottom: 10px;
}

button.ui-keyboard-button[data-name='accept']>span {
    color: #37c724;
}

button.ui-keyboard-button[data-name='cancel']>span {
    color: red;
}

#souffre,
#capacite {
    margin: 0 2em;
    display: flex;
    justify-content: space-between;
}

#souffre>span,
#capacite>span {
    width: 25%;
    text-align: center;
}

.cause {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cause>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    margin: 0 9em;
}

.cause img {
    width: 65px;
    height: auto;
    cursor: pointer;
}

.cause span {
    font-size: 1.3em;
}

#regle,
#phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#regle>p {
    color: #37c724;
    font-weight: 700;
    font-size: 1.2em;
    margin: 5px 0;
}

#accepte {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

#accepte>img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 5px;
}

#accepte>.unactive {
    filter: grayscale(100%);
    cursor: not-allowed;
}

#condition {
    display: flex;
    justify-content: center;
}

#condition>button {
    border: none;
    background-color: #f1f1f1;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    font-size: 1.1em;
}

#condition>#fleche {
    rotate: 180deg;
}

#nOk,
#ok {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 0 20%;
    color: white;
}

#nOk {
    background-color: red;
}

#ok {
    background-color: #37c724;
}

#pNOk,
#pOk,
#pOk2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

#pNOk>span,
#pOk>span,
#pOk2>span {
    margin: 5px 0;
}

#pOk2>img {
    width: 50%;
    height: auto;
}

#fleche {
    display: flex;
    justify-content: center;
}

#fleche>a>img {
    cursor: pointer;
    width: 140px;
    height: auto;
    margin: 0 200px;
}

#fleche>img {
    cursor: pointer;
    width: 140px;
    height: auto;
    margin: 0 200px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

footer.container {
    display: flex;
    justify-content: space-between;
}

.container span {
    color: blue;
    font-size: 1.2em;
}

#error {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#securitePDF,
#donneePDF {
    position: absolute;
    margin: auto;
    width: 1265px;
    height: 650px;
    z-index: 1;
}

#fermer {
    position: absolute;
    margin: 0 auto;
    display: none;
    top: -30px;
    left: 0;
    right: 0;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1.1em;
    cursor: pointer;
}

#photo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cam {
    width: 320px;
    height: 240px;
}

#pPhoto {
    text-align: center;
}

.ui-keyboard {
    bottom: 0 !important;
    top: unset !important;
}

.ui-keyboard-button {
    min-width: 4em !important;
    height: 4em !important;
}

.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) {
    min-width: 6em !important;
}

.ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) span {
    top: 0 !important;
    left: 0 !important;
}

.ui-keyboard-button span {
    font-size: 1.8em !important;
}

button.ui-keyboard-button[data-name='accept']>span {
    color: #37c724;
}

#age_keyboard {
    bottom: 0 !important;
    top: unset !important;
}
