{% include "header.html.twig" %}
{% block body %}
	<main id='deso'>
		<div id="nOk">{{ 'deso'|trans|upper }}</div>
		<section id="pNOk">
			<span>{{ 'pSecure1'|trans|upper }}</span>
			<span>{{ 'pSecure2'|trans }}</span>
			<span>{{ 'pSecure3'|trans }}</span>
		</section>
	</main>
{% endblock %}
{% include "footer.html.twig" %}
