<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Aquaccess Control
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="/css/jquery.accent-keyboard.css" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		<span id='locale' class="undisplayed">{{ app.request.locale }}</span>
		<header>
			<div class="container">
				<div class="col">
					<img src="{{ asset('/images/logo-small.png') }}" alt="Aqua Brava">
				</div>
				<div class="col">
					<h1>Aqua X Jump</h1>
				</div>
				<div class="col">
					<img src="{{ asset('/images/logo-small.png') }}" alt="Aqua Brava">
				</div>
			</div>
			<div class="keyboard"></div>
		</header>
	</body>
</html>
